src/synnet.egg-info
src/synnet/__pycache__
src/synnet/encoding/__pycache__
src/synnet/data_generation/__pycache__
src/synnet/models/__pycache__
src/synnet/utils/__pycache__
script/substructure_analysis/__pycache__
.vscode
script/utils/__pycache__
script/molecular_optimization/utils/__pycache__
data/molecular_optimization/featurized
data/molecular_optimization/pre-process
outputs/molopt/trained_models/cyp_opt
outputs/molopt/trained_models/tox_opt
*.json
*.csv
*.npy
*.pth
*.pkl
*.zip
*.tsv
!data/molecular_optimization/target_molecule/*.csv
!data/substructure_analysis/origin_data/*.csv
!outputs/substructure_analysis/result/*.pkl
!script/molecular_optimization/utils/property_config.json
outputs/baseline_opt/*
*.log